@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 20px; 
}

.education-title {
    position: relative;
}

.education-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    font-family: 'Abril Fatface', serif;
    font-size: 4.5rem;
    color: #ffffff;
}

.education-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center; 
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
}

.education-card {
    flex: 1 1 calc(33.33% - 30px); 
    max-width: 300px; 
    padding: 40px; 
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    gap: 10px;
}

.education-card.senior-secondary {
    flex: 1 1 calc(66.66% - 30px); 
    max-width: 600px; 
}

.education-card:hover {
    transform: scale(1.05);
}

.education-card h2 {
    background: linear-gradient(290deg, #DF8908 10%, #B415FF 100%);
    font-size: 30px;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.education-card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}

.education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}


@media (max-width: 1024px) {
    .education-card {
        flex: 1 1 calc(50% - 20px); 
    }

    .education-card.senior-secondary {
        flex: 1 1 calc(100% - 20px); 
    }
}

@media (max-width: 768px) {
    .education {
        margin: 80px 10px;
    }

    .education-card {
        flex: 1 1 calc(100% - 20px); 
        padding: 20px;
    }

    .education-title h1 {
        font-size: 3rem; 
    }
}

@media (max-width: 480px) {
    .education {
        margin: 40px 10px;
    }

    .education-card {
        padding: 15px; 
    }

    .education-title h1 {
        font-size: 2.5rem; 
    }
}
